@import './hide-scrollbar.css';

@font-face {
    font-family: 'Console';
    src: url('/portfolio/fonts/WebPlus_IBM_VGA_8x16.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Recommended for better performance */
}

body {
    @apply font-console antialiased text-slate-100 text-base;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}