---
import SocialIcon from './SocialIcon.astro';

interface Social {
    icon: 'github' | 'linkedIn' | 'twitter' | 'email';
    link: string;
    title?: string;
}

const socials: Social[] = [{
    icon: 'linkedIn',
    link: 'https://www.linkedin.com/in/imjosearce',
    title: 'LinkedIn Profile'
}, {
    icon: 'twitter',
    link: 'https://x.com/imjosearce',
    title: 'Twitter Profile'
}, {
    icon: 'github',
    link: 'https://github.com/imjose',
    title: 'GitHub Profile'
}, {
    icon: 'email',
    link: 'mailto:jose.arce@live.com',
    title: 'Send Email'
}];

---

<div class="flex flex-col gap-0.5">
    {socials.map(social =>
        <a
            href={social.link}
            target="_blank"
            title={social.title}
            rel="noopener noreferrer"
            class="flex items-end justify-start py-0.5 gap-1 text-dos-accent transition-all duration-150 hover:bg-dos-background hover:text-dos-yellow hover:px-1 hover:-translate-y-0.5">
            <SocialIcon icon={social.icon} />
            <span>{social.title}</span>
        </a>
    )}
</div>